.navbar-nav{
    font-weight: 700 !important;
}

/* #carouselExampleCaptions{
    width: 800px;
} */

/* #carouselExampleCaptions .d-block w-100{
    border: 2px solid red;
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 50%;
    margin-right: 50%;
    position: relative;
}  */

/* #carouselExampleCaptions .carousel-inner,
.d-block{
    border: 2px solid red;
    padding-left: 20%;
    padding-right: 20%;
    width: 800px;
    height: 500px
} */